.sidebar-nav {
    &>li {
        font-size: 14px;
        .sidebar-title {
            .l-icon {
                display: inline-flex;
                width: 40px;
                align-items: center;
            }
            &>span {
                letter-spacing: 6px;
            }
        }
    }
    .ant-menu-sub {
        li {
            padding-left: 70px!important;
        }
    }
}