.home-page {
    height: 100%;
    .total {
        display: flex;
        width: 50rem;
        margin: 0 auto;
        li {
            flex: 1 1 33.33%;
            margin: 1rem;
            border: 1px solid #f4f4f4;
            background: white;
            padding: 1rem;
            border-radius: 0.2rem;
            display: flex;
            .cover {
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                color: white;
            }
            .info {
                padding-left: 1rem;
                h6 {
                    font-weight: bold;
                    font-size: 0.6rem;
                }
                p {
                    font-size: 1.5rem;
                    padding-top: 0.1rem;
                }
            }
        }
    }
}