._upload {
    height: 8rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #f7f7f7;
    transition: 0.3s;
    .ant-upload-select {
        display: block;
        height: 100%;
        width: 100%;
        .ant-upload {
            display: block;
            height: 100%;
            text-align: center;
            padding: 0.5rem;
            img {
                display: inline-block;
                height: 100%;
            }
            .uploader-trigger {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
            .anticon {
                min-width: 15rem;
            }
        }
    }
    &:hover {
        // box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
        border-color: #49a9ee;
        transition: 0.3s;
    }
}