._upload {
    height: 8rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    min-width: 15rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .ant-upload-select {
        display: block;
        height: 100%;
        width: 100%;
        .ant-upload {
            display: block;
            height: 100%;
            text-align: center;
            img {
                display: inline-block;
                height: 100%;
            }
            .uploader-trigger {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
        }
    }
}